[submodule "resources/js/edirom-verovio-renderer"]
        path = resources/js/edirom-verovio-renderer
        url = https://github.com/Edirom/edirom-verovio-renderer.git
[submodule "resources/js/edirom-core-web-components"]
	path = resources/js/edirom-core-web-components
	url = https://github.com/Edirom/edirom-core-web-components.git
[submodule "resources/js/edirom-audio-player"]
	path = resources/js/edirom-audio-player
	url = https://github.com/Edirom/edirom-audio-player.git
[submodule "resources/js/edirom-navigator"]
	path = resources/js/edirom-navigator
	url = https://github.com/Edirom/edirom-navigator.git
