/* legacy annotation annotIcon styling */
.annotation .annotIcon.Notentext:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E1D5";
    position: relative;
    top: 5px;
    left: 0.55em
}

.annotation .annotIcon.HalsungBalkung:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E1F3";
    position: relative;
    top: 5px;
    left: 0.59em
}

.annotation .annotIcon.TaktartMetrum:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E099";
    position: relative;
    top: -13px;
    left: 0.18em;
    font-size: 25px;
}

.annotation .annotIcon.Pausensetzung:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E4E5";
    position: relative;
    top: 0px;
    left: 0.45em;
    font-size: 17px;
}

.annotation .annotIcon.Tondauer:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E1D2";
    position: relative;
    top: 0px;
    left: 0.28em;
    font-size: 20px;
}

.annotation .annotIcon.Vortragsanweisung:before {
    line-height: 1;
    font-family: Bravura;
    content: "rit.";
    font-style: italic;
    position: relative;
    top: 2px;
    left: 0.3em;
    font-size: 10px;
}

.annotation .annotIcon.Artikulation:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E4B2";
    position: relative;
    top: 0px;
    left: 0.23em;
    font-size: 25px;
}

.annotation .annotIcon.Dynamik:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E520";
    position: relative;
    top: -2px;
    left: 0.5em;
    font-size: 12px;
}

.annotation .annotIcon.Pedalsetzung:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E650";
    position: relative;
    top: 1px;
    left: 0.09em;
    font-size: 12px;
}

.annotation .annotIcon.Phrasierungsboegen:before {
    line-height: 1;
/*    font-family: Bravura;*/
    content: "---";
    position: relative;
    top: 1px;
    left: 0.09em;
    font-size: 12px;
}

.annotation .annotIcon.Bogensetzung:before {
    line-height: 1;
    font-family: Bravura;
    content: "\E4BA";
    position: relative;
    top: -7px;
    left: 0.08em;
    font-size: 40px;
}

.annotation .annotIcon.Beschreibung:before {
    line-height: 1;
    font-family: FontAwesome;
    content: "\f0e5";
    position: relative;
    left: 0.2em;
    font-size: 13px;
    top: -1px;
}

.annotation .annotIcon.Hinzufügung:before {
    line-height: 1;
    content: "+";
    position: relative;
    top: 1px;
    left: 0.24em;
    font-size: 19px;
}

.annotation .annotIcon.RasurTektur:before {
    line-height: 1;
    font-family: FontAwesome;
    content: "\f12d";
    position: relative;
    top: 2px;
    left: 0.2em;
    font-size: 12px;
}

.annotation .annotIcon.Streichung:before {
    line-height: 1;
    /*font-family: Bravura;*/
    content: "xxx";
    position: relative;
    top: 4px;
    left: 0.25em;
    font-size: 9px;
}

.annotation .annotIcon.Liedtext:before {
    line-height: 1;
    /*font-family: Bravura;
    content: "\E595";*/
    content: "text";
    position: relative;
    top: 4px;
    left: 0.15em;
    font-size: 9px;
}

.annotationList .x-grid-row-selected .x-grid-cell, .annotationList .x-grid-row-selected .x-grid-rowwrap-div {
    background: -webkit-linear-gradient(top, rgb(215, 185, 180), rgb(146, 64, 92));
    color: rgb(248, 238, 218);
}
