$toolbar-background-color: #cccccc !default;
$toolbar-background-gradient: 'bevel';
$toolbar-separator-color: darken($base-color, 40%);

/*$toolbar-background-color: #333333 !default;
$toolbar-background-gradient: 'bevel';
$toolbar-separator-color: lighten($base-color, 40%);*/

#ediromTaskbar {
	height: 32px;
	padding: 5px;
	box-shadow: 0 0 1px #000000;
	
	.x-toolbar {
		padding: 0;
		background: transparent;
	}
	
	.ux-desktop-trayclock {
		padding-top: 3px;
	}
	
}

#ediromToolbar .x-toolbar {
	padding: 0;
	background: transparent;
}

/* FreiDi */

#ediromToolbar {
	height: 41px;
	padding: 0;
	box-shadow: 0 0 1px #000000;
}

#ediromToolbar .x-toolbar {
	margin: 0px;
	background: transparent;
}
/* Coppied from todo.css */

#ediromToolbar .x-btn.insetButton.x-btn-default-toolbar-small {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(30%, #c3c3c3), color-stop(65%, #b8b8b8), color-stop(100%, #a0a0a0));
    background-image: -webkit-linear-gradient(top, #dddddd, #c3c3c3 30%, #b8b8b8 65%, #a0a0a0);
    background-image: -moz-linear-gradient(top, #dddddd, #c3c3c3 30%, #b8b8b8 65%, #a0a0a0);
    background-image: -o-linear-gradient(top, #dddddd, #c3c3c3 30%, #b8b8b8 65%, #a0a0a0);
    background-image: linear-gradient(top, #dddddd, #c3c3c3 30%, #b8b8b8 65%, #a0a0a0);
}